
.newPlaylistBar
{
	background-color: #474137;
	padding: 11px 0px 11px 15px;
}

.newPlaylistButton
{
	
	
}



.popTitle
{
	font-size: 20px;
	margin-bottom: 8px;
	
}


.popLabel
{
	font-size: 14px;
	margin-bottom: 4px;
}